<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin=""
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300&amp;display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

        <link href="./contacts.css" rel="stylesheet" />
        <title>Contacts Page</title>
    </head>
    <body>
        <div class="background"></div>
        <div class="container">
            <div class="wrapper">
                <div class="top-group">
                    <header class="menu">
                        <img
                            class="menu__logo"
                            src="./assets/logohennaspa.png"
                            alt="logo"
                        />
                        <nav class="menu__nav">
                            <ul class="menu__list">
                                <li class="menu__item">About Us</li>
                                <li class="menu__item">Services</li>
                                <li class="menu__item">Therapists</li>
                                <li class="menu__item">Contacts</li>
                            </ul>
                        </nav>
                        <button class="menu__reservation-btn btn">
                            Reservation
                        </button>
                    </header>
                    <section class="details">
                        <h1 class="details__title">
                            Contacts
                        </h1>
                     </section>   

                        <div class="contacts">
                          <div class="contacts__item">
                            <span class="symbol-image"><i class="fas fa-phone"></i></span>
                            <p class="contacts__text">
                              Telephone number: <br>(046) 413-2164
                            </p>
                          </div>
                          <div class="contacts__item">
                            <span class="symbol-image"><i class="fas fa-mobile-alt"></i></span>
                            <p class="contacts__text">
                              Cellphone number: <br>(+63) 949-886-6208
                            </p>
                          </div>
                            <div class="contacts__item">
                              <a href="https://www.facebook.com/BHSFCIE" class="symbol-image"><i class="fab fa-facebook-f"></i></a>
                              <p class="contacts__text">
                                Facebook page: <a href="https://www.facebook.com/BHSFCIE" style="color: black; text-decoration: none;"><br>@HennaSpa</a>
                              </p>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>
